<div id="<%= dom_id client %>">
  <p>
    <strong>Firstname:</strong>
    <%= client.firstname %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= client.surname %>
  </p>

  <p>
    <strong>Emai:</strong>
    <%= client.emai %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= client.password %>
  </p>

</div>
