<div id="<%= dom_id order %>">
  <p>
    <strong>Id:</strong>
    <%= order.id %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= order.cost %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= order.dateTime %>
  </p>

  <p>
    <strong>Buriallocation:</strong>
    <%= order.burialLocation %>
  </p>

  <p>
    <strong>Churchlocation:</strong>
    <%= order.churchLocation %>
  </p>

</div>
